<div class="header-component">
  <mat-toolbar class="floating-header">
    <img class="deadbeef-icon" src="assets/icon.svg" alt="deadbeef.io">
    <span>deadbeef</span>
    <nav>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/feed">Blog</a>
      <a mat-button routerLink="/tutorials">Tutorials</a>
      <a mat-button routerLink="/software">Software</a>
      <a mat-button routerLink="/about">About</a>
    </nav>
    <button mat-icon-button class="favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <div class="fixed-header"></div>
</div>
